.menu-subheader {
  display: flex;
  justify-content: left;
  align-items: center;
}

.menu-subheader-left {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu-subheader-right {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-subheader-right > input {
  height: 2em;
  width: 2em;
  margin-top: 0.5rem;
}

/* style copied from WECO website */
/* TODO: migrate px counts to flexible units */
.menu-date {
  background: url(./icon-calendar.svg) no-repeat 0px 0px;
  background-size: 2rem;
  flex: 1;
  width: 2rem;
  height: 2rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #497b55;
  text-align: center;
  padding-top: 1rem;
  margin-top: 1rem;
  flex-basis: 23px;
  flex-shrink: 0;
  font-weight: 600;
  font-size: 13.1429px;
  line-height: 16px;
}
